/test3.py
/test1.py
/test.py
/tes2.py
/image.png
/config.ini
/ccmeanwhile-italic.ttf
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/pic_handler.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
